[tool.black]
line-length = 127
target-version = ['py311']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.venv
  | venv
  | env
  | migrations
)/
'''

[tool.isort]
profile = "black"
line_length = 127
skip_glob = ["*/migrations/*"]

[tool.mypy]
python_version = "3.11"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = false

[tool.basedpyright]
include = []
exclude = ["**"]
typeCheckingMode = "off"
pythonVersion = "3.11"

